/* Other rules */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.app {
  width: 1000px;
  margin: 0 auto;
}

.search {
  text-align: center;
  margin-bottom: 30px;
}

.search h1 {
  font-size: 45px;
}

input {
  text-align: center;
  width: 625px;
  outline: none;
  border: none;
  font-size: 20px;
  line-height: 42px;
  background-color: #f8efef;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
}

.line:hover {
  background-color: #f8efef;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

p {
  font-size: 15px;
}

@media (max-width: 1025px) {
  .app {
    max-width: 100%;
  }

  input {
    width: 60%;
  }

  .line {
    margin: 10px;
    box-sizing: border-box;
    max-width: 100%;
  }
}

@media (max-width: 520px) {
  input {
    font-size: 12px;
  }

  .search h1 {
    font-size: 30px;
  }

  .line {
    font-size: 20px;
  }
}
